.header {
    .topline {
        background-color: #ebecf5;
        color: #999ca2;
        padding: 5px;
    }

    .welcome {
        text-align: center;
        color: #333;
    }
}

.content {
    margin: 0px 10vw;
}