<div class="h1">
    Dynamic List
</div>

<ng-container *ngIf="listIntern != null; else empty">
    <table class="list-table">
        <thead>
            <th *ngFor="let key of getKeys()" (click)="sort(key)" class="pointer"
                [ngClass]="sortOrder?.key != key ? '' : sortOrder.ascending ? 'asc' : 'desc'">
                {{ key | titlecase }}
                <span>
                    {{ sortOrder?.key != key ? "&#9650;" : sortOrder.ascending ? "&#9650;" : "&#9660;" }}
                </span>
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let item of listIntern">
                <td *ngFor="let key of getKeys()">{{ item[key] }}</td>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-template #empty>
    Data is loading
</ng-template>